/*Tags*/
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  font: 15px/1.5 'PT Sans', serif;
  background: #767676;
  border-radius: 3px 0 0 3px;
  color: #FFFFFF;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag-archive-font {
  font-size: 13px;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #767676;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #f05422;
  color: white;
  text-decoration: none;
}

.tag:hover::after {
  border-left-color: #f05422;
}

/* 서브 메뉴 전체 */
.sub-title-out {
	width: 100%;
	text-align: center;
	background-color: #FFF;
	padding: 104px 0 100px 0;
}

/* 서브 메뉴 내부 */
sub-title-in {
	display: inline-block;
	width: 1200px;
	height: 178px;
}

/* 첫번째 서브 메뉴 */
.sub-title-menu1 {
	background-image: url("/assets/img_issue.png");
	background-repeat: no-repeat;
	height: 128px;
	width: 380px;
}
/* 서브 메뉴 내용 */
.sub-title-menu-conetnt {
  height: 30px;

}

/* 두번째 서브 메뉴 */
.sub-title-menu2 {
	background-image: url("/assets/img_test.png");
	background-repeat: no-repeat;
	margin-top: 128px;
	width: 380px;
}

/* 세번째 서브 메뉴 */
.sub-title-menu3 {
	background-image: url("/assets/img_info.png");
	background-repeat: no-repeat;
	margin-top: 128px;
	width: 380px;
}

/*  서브 메뉴 링크 */
.sub-title-menu-button {
	width : 156px;
	height : 46px;
	padding-top: 8px;
	border-radius : 23px;
	background-color : #ff6ca8;
	color : #FFFFFF;
	margin:0 auto;
}

/* 서브 메뉴간 간격 */
.sub-title-menu-padding {
	margin-right: 30px;
}

/* 메인 게시물 */
.main-conetnt {
  background-color: #FFF;
  /*margin-bottom: 30px;*/
  padding: 30px;
  height: 240px;
}