---
layout: default
---

<link rel="stylesheet" href="/public/flexslider.css" type="text/css">
<style>
	@font-face {
		font-family: 'flexslider-icon';
		src: url(/public/fonts/flexslider-icon.eot);
		src: url(/public/fonts/flexslider-icon.woff) format('woff'),
			url(/public/fonts/flexslider-icon.ttf) format('truetype');
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/public/jquery.flexslider.js"></script>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
	  console.log('aaa');
    $('.flexslider').flexslider({
      animation: "fade",
      directionNav: true,
      slideshowSpeed: 5000,
      animationSpeed: 600,
      touch: true
    });
  });
  
</script>

<div class="home" style="background-color: #F1F1F1;">

	<!--<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
	  <div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header"></header>
	  </div>
	</div>-->
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/public/slide01.jpg" />
			</li>
			<li>
				<img src="/public/slide02.jpg" />
			</li>
			<li>
				<img src="/public/slide03.jpg" />
			</li>
		</ul>
	</div>
	<div class="sub-title-out">
		<div class="sub-title-in">
			<div style="display: inline-block;width:380px;text-align: center;">
				<div><img src="/assets/img_issue.png"></div>
				<div class="sub-title-menu-conetnt">---</div>
				<div>
					<div class="sub-title-menu-button" onclick="">바로가기</div>
				</div>			
			</div>
			<div style="display: inline-block;width:380px;text-align: center;">
				<div><img src="/assets/img_test.png"></div>
				<div class="sub-title-menu-conetnt">---</div>
				<div>
					<div class="sub-title-menu-button" onclick="">바로가기</div>
				</div>			
			</div>
			<div style="display: inline-block;width:380px;text-align: center;">
				<div><img src="/assets/img_info.png"></div>
				<div class="sub-title-menu-conetnt">---</div>
				<div>
					<div class="sub-title-menu-button" onclick="">바로가기</div>
				</div>
			</div>

		</div>
	</div>
	<div class="wrapper">
		<div style="text-align: center;height:138px;padding-top:50px;"><h1>최근게시물</h1></div>
		<div class="post-list">
		  {% for post in paginator.posts limit:3 %}
				<div style="padding-bottom: 30px;height: 270px;">		  
					<div style="float: left; width: 240px;">
						<img src="{{ post.cover }}" style="width:240px; height:240px">
					</div>
					<div style="float: left; width: 900px; height:180px">
						<div class="main-conetnt">
							<h2>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							</h2>
							<section class="post-excerpt" itemprop="description">
							<p>{{ post.content | strip_html | truncatewords: 40 }}</p>
							</section>
							<section class="post-meta">
							<div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
							<div class="post-categories">
							{% if post.categories.size > 0 %}in {% for cat in post.categories %}
								{% if site.jekyll-archives %}
								<a href="{{ site.baseurl }}/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
								{% else %}
								<a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
								{% endif %}
							{% endfor %}{% endif %}
							</div>
							</section>
						</div>
					</div>
				</div>

		  {% endfor %}
		</div>
		<!--
		<nav class="pagination" role="navigation">
		  <p>
			{% if paginator.previous_page %}
			  {% if paginator.page == 2 %}
				<a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
				  <span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
			  {% else %}
				<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
				  <span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
			  {% endif %}
			{% else %}
			  <span class="fa-stack fa-lg">
				<i class="fa fa-square fa-stack-2x"></i>
				<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
			  </span>
			{% endif %}
			<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
			{% if paginator.next_page %}
			  <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square fa-stack-2x"></i>
				  <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
				</span>
			  </a>
			{% else %}
			  <span class="fa-stack fa-lg">
				<i class="fa fa-square fa-stack-2x"></i>
				<i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
			  </span>
			{% endif %}
		  </p>
		</nav>
		-->
	</div>
</div>
